## Visual Studio / dotnet core
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Log]s/
[Tt]est[Rr]esults/

## Visual Studio Cache/Config
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.suo.tmp
*.userprefs
*.docstates

## NuGet Packages
*.nupkg
**/packages/
!**/packages/build/
project.lock.json
project.fragment.lock.json

## Rider / VS Code / Other IDEs
.idea/
.vscode/
*.sln.iml
*.suo
*.user
*.userosscache
*.sln.docstates
*.suo.tmp

## SQL Server / Databases / SQLite
*.mdf
*.ldf
*.ndf
*.sdf
*.db
*.sqlite
*.sqlite3

## Temporary/Logs
*.log
*.tmp
*.temp
*._*
*.cache

## OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
